<table class="dvs_cert_display">
  <tr>
    <td class="label">Subject Common Name:</td>
    <td>${subject_cn}</td>
  </tr>
  <tr>
    <td class="label">Subject Organization:</td>
    <td>${subject_o}</td>
  </tr>
  <tr>
    <td class="label">Subject Organization Unit:</td>
    <td>${subject_ou}</td>
  </tr>
  <tr>
    <td class="label">Subject Location:</td>
    <td>${subject_l}</td>
  </tr>
  <tr>
    <td class="label">Subject State:</td>
    <td>${subject_st}</td>
  </tr>
  <tr>
    <td class="label">Subject Country:</td>
    <td>${subject_c}</td>
  </tr>
  <tr>
    <td class="label">Issuer Common Name:</td>
    <td>${issuer_cn}</td>
  </tr>
  <tr>
    <td class="label">Issuer Organization:</td>
    <td>${issuer_o}</td>
  </tr>
  <tr>
    <td class="label">Issuer Organization Unit:</td>
    <td>${issuer_ou}</td>
  </tr>
  <tr>
    <td class="label">Issuer Location:</td>
    <td>${issuer_l}</td>
  </tr>
  <tr>
    <td class="label">Issuer State:</td>
    <td>${issuer_st}</td>
  </tr>
  <tr>
    <td class="label">Issuer Country:</td>
    <td>${issuer_c}</td>
  </tr>
  <tr>
    <td class="label">Not Valid Before:</td>
    <td>${not_before}</td>
  </tr>
  <tr>
    <td class="label">Not Valid After:</td>
    <td>${not_after}</td>
  </tr>
  <tr>
    <td class="label">SHA1 Fingerprint:</td>
    <td>${sha1_fingerprint}</td>
  </tr>
  <tr>
    <td class="label">MD5 Fingerprint:</td>
    <td>${md5_fingerprint}</td>
  </tr>
</table>
