<form class="noxSearch" dojoAttachPoint="containerNode" dojoAttachEvent="onreset: onReset, onsubmit: onSubmit"
        >
    <div class="searchInput">
        <img src="${imageBasePathStr}/searchIcon.gif").toString()} alt="Filter your Search" class="searchIcon"
            dojoAttachPoint="changeFilterNode" />
        <input type="text" dojoType="dijit.form.TextBox" dojoAttachPoint="searchString" />
        <img src="${imageBasePathStr}/searchClearIcon.gif" alt="Clear your Search" class="searchClear"
            dojoAttachEvent="onclick: onReset" />
    </div>
</form>
