<tr class="TableVisibilityStatsRow">
  <td class="TableVisibilityCell TableVisibilityLegendCell" dojoAttachPoint="legendCell"><img dojoAttachPoint="legendImage" src="${static_base}/nox/ext/apps/vmanui/images/legend_fill.png" /></td>
  <td class="TableVisibilityCell TableVisibilityNameCell"><span dojoAttachPoint="nameSpan"></span></td>
  <td class="TableVisibilityCell TableVisibilityTotalCell" dojoAttachPoint="totalCell"></td>
  <td class="TableVisibilityCell TableVisibilityRateCell" dojoAttachPoint="rateCell"></td>
  <td class="TableVisibilityCell TableVisibilityPercentageCell" dojoAttachPoint="percentageCell"></td>
</tr>
