<div class="visibility_totals">
  <h2>${table_title}</h2>
  <table class="TableVisibilityStats" cellspacing="0">
    <thead>
      <tr class="TableVisibilityStatsHeader">
        <th class="TableHeaderGradientLight icon_col">&nbsp;</th>
        <th class="TableHeaderGradientLight"><a class="sort name">${bin_name}</a><span class="sort_icon"></span></th>
        <th class="TableHeaderGradientLight"><a class="sort total numeric">${total_units}</a><span class="sort_icon"></span></th>
        <th class="TableHeaderGradientLight"><a class="sort rate numeric">${rate_units}</a> <span style="font-size:smaller">(${rate_units_abbr})</span><span class="sort_icon"></span></th>
        <th class="TableHeaderGradientLight"><a class="sort perc numeric">${perc_units}</a></span><span class="sort_icon"></span></th>
      </tr>
    </thead>
    <tbody dojoAttachPoint="tbody">
    </tbody>
  </table>
</div>
